  <div class="blog-posts" class="card">
      {{#each blog-posts}}
    <div class="card-content">
      <span class="card-title activator grey-text text-darken-4">Title<i class="material-icons right">expand</i></span>
      <p><a href="#">Username/ User</a></p>
      <p>Date Posted</p>
    </div>
    <div class="card-reveal">
      <span class="card-title grey-text text-darken-4">Card Title<i class="material-icons right">close</i></span>
      <p>This is where the body of the post will be.</p>
    </div>
    {{#each}}
  </div>