
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <meta name="viewport" content="width=device-width, initial-scale=1.0"/>   
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
  

  <nav>
    <div class="nav-wrapper">
      <a href="#" class="brand-logo"> &nbsp &nbsp &nbsp The Tech Blog</a>
      <ul id="nav-mobile" class="right hide-on-med-and-down">
        <li><a href="homepage.html">Homepage</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
    </div>
  </nav>

      
  <header class="hero">
    <h1 class="app-title">Home</h1>
  </header>


<div class="card">
  <div class="card-content" >
    <span class="card-title activator grey-text text-darken-4">Paragraph<i class="material-icons right">↑</i></span>
      <div style="text-align: center;">
        <p>Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph. A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly journalistic styles, a paragraph can be just one sentence long. Ultimately, a paragraph is a sentence or group of sentences that support one main idea. In this handout, we will refer to this as the “controlling idea,” because it controls what happens in the rest of the paragraph.</p>
      </div>
    </div>   
    <div style="text-align: center;">
      <button class="comment-btn" type="button">Add Comment</button>
    </div>  
    <div style="text-align:end;">
        <h5><a href="#">Username</a></h5> 
        <h6>Date Posted</h6>
    </div>

    <div class="card-reveal" style="text-align: left;">
      <span class="card-title grey-text text-darken-4"><center>Comments<center><i class="material-icons right">↓</i></span>
        <div style="text-align: left;" class="coment-posts">
          <h6>Username</h6>
          <p1>This is where the body of the comment will</p1><br><br>
        </div>
  </div>
</div>

<div class="card">
  <div class="card-content" >
    <span class="card-title activator grey-text text-darken-4">Paragraph<i class="material-icons right">↑</i></span>
      <div style="text-align: center;">
        <p>Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph. A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly journalistic styles, a paragraph can be just one sentence long. Ultimately, a paragraph is a sentence or group of sentences that support one main idea. In this handout, we will refer to this as the “controlling idea,” because it controls what happens in the rest of the paragraph.</p>
      </div>
    </div>   
    <div style="text-align: center;">
      <button class="comment-btn" type="button">Add Comment</button>
    </div>  
    <div style="text-align:end;">
        <h5><a href="#">Username</a></h5> 
        <h6>Date Posted</h6>
    </div>

    <div class="card-reveal" style="text-align: left;">
      <span class="card-title grey-text text-darken-4"><center>Comments<center><i class="material-icons right">↓</i></span>
        <div style="text-align: left;" class="coment-posts">
          <h6>Username</h6>
          <p1>This is where the body of the comment will</p1><br><br>
        </div>
  </div>
</div>

<div class="card">
  <div class="card-content" >
    <span class="card-title activator grey-text text-darken-4">Paragraph<i class="material-icons right">↑</i></span>
      <div style="text-align: center;">
        <p>Paragraphs are the building blocks of papers. Many students define paragraphs in terms of length: a paragraph is a group of at least five sentences, a paragraph is half a page long, etc. In reality, though, the unity and coherence of ideas among sentences is what constitutes a paragraph. A paragraph is defined as “a group of sentences or a single sentence that forms a unit” (Lunsford and Connors 116). Length and appearance do not determine whether a section in a paper is a paragraph. For instance, in some styles of writing, particularly journalistic styles, a paragraph can be just one sentence long. Ultimately, a paragraph is a sentence or group of sentences that support one main idea. In this handout, we will refer to this as the “controlling idea,” because it controls what happens in the rest of the paragraph.</p>
      </div>
    </div>   
    <div style="text-align: center;">
      <button class="comment-btn" type="button">Add Comment</button>
    </div>  
    <div style="text-align:end;">
        <h5><a href="#">Username</a></h5> 
        <h6>Date Posted</h6>
    </div>

    <div class="card-reveal" style="text-align: left;">
      <span class="card-title grey-text text-darken-4"><center>Comments<center><i class="material-icons right">↓</i></span>
        <div style="text-align: left;" class="coment-posts">
          <h6>Username</h6>
          <p1>This is where the body of the comment will</p1><br><br>
        </div>
  </div>
</div>








<footer>
  <div class="copyright">
    <p>&copy 2021 - The Tech Blog</p>
  </div>
</footer>

<!-- <main class="col-auto">
    {{{body}}}
  </main>
     -->

  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
<script type="text/javascript" src="js/materialize.min.js"></script>
</html>









