  <header class="hero">
    <h1 class="app-title">Comment</h1>
  </header>

  <div class="new-comment">
    <form>
      <label for="content"><h4> &nbsp; &nbsp; &nbsp; &nbsp; Content:</h4></label><br>
      <input type="text" id="new-comment-content" name="content" ><br>
      <center><button class="comment-btn" type="button">Comment</button></center>
    </form>
  </div>

