  <header class="page-title">
    <h1> Login</h1>
  </header>

<div class="login">
  <form>
    <label for="email"><h4>Email:</h4></label><br>
    <input type="text" id="user-email" name="email" ><br>
    <label for="email"><h4>Password:</h4></label><br>
    <input type="text" id="user-password" name="password"><br><br>
    <center><button class="login-btn" type="button">Login</button></center>
  </form>
</div>


<script src="/public/js/login.js"></script>
















