  <header class="page-title">
    <h1> Create New Post</h1>
  </header>

  <div class="new-post">
    <form>
      <label for="title"><h4> &nbsp; &nbsp; &nbsp; &nbsp; Title:</h4></label><br>
      <input type="text" id="new-post-title" name="title"><br>
      <label for="content"><h4> &nbsp; &nbsp; &nbsp; &nbsp; Content:</h4></label><br>
      <input type="text" id="new-post-content" name="content" ><br>
      <center><button class="post-btn" type="button">Post</button></center>
    </form>
  </div>

<script src="/public/js/newPost.js"></script>