
.nav-wrapper {  
    width: 100%;
    height: 75px;
    position: fixed;
    background-color: red;

}

.right-hide-on-med-and-down {
    text-align: right;
}

.brand-logo{
    text-size-adjust: 75px;
}