<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>The Tech Blog</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/css/materialize.min.css">
    <link rel="stylesheet" href="../../public/css/style.css">
</head>
<body>
  <nav>
     <div class="nav-wrapper">
        <a href="/" class="brand-logo">The Tech Blog</a>
        <ul id="nav-mobile" class="right hide-on-med-and-down">
          <li><a href="/">Homepage</a></li>
          <li><a href="/dashboard">Dashboard</a></li>
          <li><a href="/login">Login</a></li>
        </ul>
      </div>
    </nav>
    
  <header class="page-title">
      <h1> Dashboard</h1>
  </header>

 <main class="col-auto">
        {{{body}}}
      </main> 



  
  <br><br><br><footer>
    <div class="copyright">
      <p>&copy 2021 - The Tech Blog</p>
    </div>
  </footer>


        
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/1.0.0/js/materialize.min.js"></script>
</body>
</html>