<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
          <!--Import Google Icon Font-->
          <link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
          <link href="../../public/css/style.css" rel="stylesheet">
          <!--Import materialize.css-->
          <link type="text/css" rel="stylesheet" href="css/materialize.min.css"  media="screen,projection"/>
          <!--Let browser know website is optimized for mobile-->
          <meta name="viewport" content="width=device-width, initial-scale=1.0"/>   
    <title>The Tech Blog</title>
</head>
<body>
  <nav>
    <div class="nav-wrapper">
      <a class="brand-logo">The Tech Blog </a>
      <ul class="right-hide-on-med-and-down">
        <li><a href="homepage.html">Homepage</a></li>
        <li><a href="dashboard.html">Dashboard</a></li>
        <li><a href="login.html">Login</a></li>
      </ul>
    </div>
  </nav>

    


</body>
<script type="text/javascript" src="js/materialize.min.js"></script>
</html>